<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Post</title>
    </head>

    <body>
        <a class="dropdown-item" href="/testindex">Index test</a>

        <div th:object="${posteo}" class="container justify-content-center">
            <h1>Información detallada</h1>

                <p><span>Posteo id: </span><span th:if="*{id != null}" th:text="*{id}" ></span></p>
                <p><span>Status: </span><span th:if="*{status != null}" th:text="*{status.nombreLindo}" ></span></p>
                <p><span>Fecha de publicación: </span>
                    <span th:if="*{alta != null}" th:text="*{alta}" ></span>
                    <span th:if="*{alta == null}" >no aplica</span>
                </p>
                <br/>
                <p><span>Rubro: </span><span th:if="*{profesion != null}" th:text="*{profesion.rubro.nombreLindo}"></span></p>
                <p><span>Profesion: </span><span th:if="*{profesion != null}" th:text="*{profesion.tipo}"></span></p>
                <p><span>Sub Profesion: </span><span th:if="*{profesion != null}" th:text="*{profesion.tipo}"></span></p>
                <p><span>Zona: </span><span th:if="*{zona != null}" th:text="*{zona.nombreCiudad}"></span></p>
                <br/>
                <p><span>Nombre del Trabajador: </span><span th:if="${posteo.trabajador != null}" th:text="*{trabajador.fullName}"></span></p>
                <p><span>Edad: </span><span th:if="${posteo.trabajador != null}" th:text="*{trabajador.edad}"></span></p>
                <!-- ACA VAN DATOS DEL TRABAJADOR -->
                <!-- ACA VAN DATOS DE LA REFERENCIA APLICABLE -->
           
            <br />
            <p th:if="*{chats != null}" >Chat:</p>
            <table class="table table-striped table-sm">
                <tbody th:each="chat : ${posteo.chats}">
                    <tr>
                        <td th:text="${chat}" scope="row"></td>
                    </tr>
                </tbody>
            </table>

            <form
                id="formPost"
                th:action="@{/chat/escribir/{idPosteo}(idPosteo =__${posteo.id}__)}"
                enctype="multipart/form-data"
                method="POST"
                >
                <input type="text" placeholder="Mensaje para el chat" name="msj" />
                <input type="submit" value="Enviar mensaje al chat" />
            </form>

            <p
                style="color: red"
                th:if="${error != null}"
                th:text="${error}"
            ></p>
        </div>
    </body>
</html>
