<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Buscador</title>
    </head>

    <body>
        <a class="dropdown-item" href="/testindex">Index test</a>

        <div class="container justify-content-center">
            <h1>Buscador de ofertas</h1>
            <div class="table-responsive">
                
                <form id="formPost" th:action="@{/post/buscador/}" enctype="multipart/form-data" method="POST" >
                    
                <label>Rubro: </label>
                <select name="rubro" id="rubro" onclick="obtenerTipos()" onchange="obtenerTipos()">
                    <option th:each="aux2 : ${rubros}" th:value="${aux2}" th:text="${aux2.nombreLindo}" 
                    ></option>
                </select>

                <label>Profesion: </label>
                <select name="tipo" id="tipo" onclick="obtenerSubtipos()" onchange="obtenerSubtipos()">
                    <option th:each="aux3 : ${tipos}"th:value="${aux3}" th:text="${aux3}"
                    ></option>
                </select>

                <label>Sub Profesion: </label>
                <select name="subtipo" id="subtipo" >
                    <option th:each="aux4 : ${subtipos}"th:value="${aux4}" th:text="${aux4}" 
                    ></option>                
                </select>

                <input type="submit" value="Buscar" />

                <br/>
                <form id="formPost" th:action="@{/post/form}" th:object="${posteo}" enctype="multipart/form-data" method="POST" ></form>
                <br/>
                <!--
                <label>Zona: </label>
                <select name="zona">
                    <option th:each="aux : ${zonas}" th:value="${aux}" th:text="${aux.nombreCiudad}" 
                    th:selected="${idZona != null ? idZona == aux.nombreCiudad : false}" ></option>
                </select>
                <input type="submit" value="Filtrar por zona" />
                <br />
                -->
                <table class="table table-striped table-sm">
                    <thead style="background-color: rgb(241, 216, 201)">
                        <tr>
                            <!-- <th scope="col">ID</th> -->
                            <th scope="col">Status</th>
                            <th scope="col">Rubro</th>
                            <th scope="col">Profesion</th>
                            <th scope="col">Sub Profesion</th>
                            <th scope="col">Zona</th>
                            
                            <th scope="col">Trabajador</th>
                            <th scope="col">Precio oferta</th>
                            <th scope="col">Alta</th>
                            <th scope="col">Ver oferta</th>
                            
                        </tr>
                    </thead>
            
                    <tbody th:each="posteo : ${posteos}">
                        <tr>
                            <!-- <td th:text="${libro.id}" scope="row"></td> -->
                            <td th:text="${posteo.status.nombreLindo}" scope="row"></td>
                            <td th:text="${posteo.profesion.rubro.nombreLindo}" scope="row"></td>
                            <td th:text="${posteo.profesion.tipo}" scope="row"></td>
                            <td th:text="${posteo.profesion.subtipo}" scope="row"></td>
                            <td th:text="${posteo.zona.nombreCiudad}" scope="row"></td>
                            
                            <td th:text="${posteo.trabajador.fullName}" scope="row"></td>
                            <td th:text="${posteo.precio}" scope="row"></td>
                            <td th:text="${posteo.alta}" scope="row"></td>
                            <td scope="row">
                                <a th:href="@{/trabajo/form/{idPosteo}(idPosteo =__${posteo.id}__)}">Ver oferta</a>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <p
                style="color: red"
                th:if="${error != null}"
                th:text="${error}"
            ></p>
        </div>

        <script src="/js/form.js"></script>
    </body>
</html>
